VITE_SUPABASE_URL=https://pkmrpndwrsvfnkpsxxpq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBrbXJwbmR3cnN2Zm5rcHN4eHBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwNDkzODcsImV4cCI6MjA3MjYyNTM4N30.1fUUNOMLHYbjlSBDFLyP1oROuaLXHr-12qB6OVEJI44
